{%- if site.comment == 'giscus' and site.giscus.repo and site.giscus.repo-id -%}
<script src="https://giscus.app/client.js"
  data-repo="{{ site.giscus.repo }}"
  data-repo-id="{{ site.giscus.repo-id }}"
  data-category="{{ site.giscus.category | default: 'Comments' }}"
  data-category-id="{{ site.giscus.category-id }}"
  data-mapping="{{ site.giscus.mapping | default: 'pathname' }}"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="{{ site.giscus.position | default: 'top' }}"
  data-theme="{{ site.giscus.theme | default: 'preferred_color_scheme' }}"
  data-lang="{{ site.giscus.lang | site.lang | default: 'en' }}"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>

{%- elsif site.comment == 'disqus' and site.disqus.shortname -%}
<div id="disqus_thread"></div>
<script>
  var disqus_config = function() {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.id }}';
    this.page.title = '{{ page.title }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{%- endif -%}
