<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
  {%- include head.html -%}
  
  {%- if page.features contains 'mathjax' -%}
  {%- include mathjax.html -%}
  {%- elsif page.features contains 'katex' -%}
  {%- include katex.html -%}
  {%- endif -%}

  {%- if page.features contains 'sagecell' -%}
  {%- include sagecell.html -%}
  {%- endif -%}

  {%- if page.features contains 'mermaid' -%}
  {%- include mermaid.html -%}
  {%- endif -%}

  {%- if page.features contains 'geogebra' -%}
  {%- include geogebra.html -%}
  {%- endif -%}
</head>

</html>

<body>
  {%- include header.html -%}

  <main class="site-main" id="main">

    {{ content }}

  </main>

  {%- include footer.html -%}
</body>

</html>